

#main > section > div > div > div.col-md-3 > div > div > ul > li:nth-child(1) > span {
  margin: 0 0 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#main > section > div > div > div.col-md-3 > div > div > ul > li:nth-child(2) > span {
  margin: 0 0 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}


#main > section > div > div > div.col-md-3 > div > div > ul > li:nth-child(3) > a {
  margin: 0 0 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#myModal > div {
  height: 90%;
}

#myModal {
  top: 30px;
  padding-right: 0px;
}

#myModal > button > span:nth-child(1) {
  padding-right: 10px;
}

/* Aqui esta el ccs de modo telf */
@media screen and (max-width: 700px) {
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }

  .navbar-brand > img {
    margin-top: -7px;
    width: 50%;
  }

  .navbar-nav {
    margin: 0px 0px 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .contact-detail2 li {
    list-style: outside none none;
    float: left;
    padding: 0px 0px;
    margin-bottom: 0px;
    margin-right: 35px;
  }

  .process {
    background: #1a1268;
    background-size: cover;
    padding: 35px 0px;
    color: #2f363e;
    border-top: 1px solid #184056;
    text-align: center;
  }

  .process .content .col-md-8 {
    padding-top: 7px;
    padding-bottom: 20px;
  }

  section {
    padding: 50px 0px;
    text-align: center;
  }

  .purchase-now .items {
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    text-align: center;
  }

  .why-us-section .item ul {
    margin-top: 10px;
    padding: 0px;
    text-align: justify;
    padding-left: 5px;
  }

  .why-us-section .item-2,
  .why-us-section .item {
    padding-top: 30px;
  }

  #footer > section > div.footer-bottom > div > div.col-md-3 {
    padding-right: 67px;
  }

  #about > div > div.col-md-7.col-sm-12.dest-detail.pull-right {
    text-align: center;
  }

  #bs-navbar {
    padding-top: 25px;
    width: 115% !important;
  }

  #nav > div > div > button {
    padding: 0px 0px 0px 0px;
    position: relative;
    float: right;
    /* padding: 9px 10px; */
    margin-top: 28px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  #nav {
    padding: 0px;
    margin: 0px;
    min-height: 80px;
    position: absolute;
    background: #fff;
  }

  .affix {
    position: fixed !important;
    z-index: 999;
    top: 0px;
    background-color: #fff;
    min-height: 80px !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  }

  #contact-us {
    padding-top: 80px;
  }

  #main > section > div > div > div.col-md-3 > div > ul {
      text-align: left;
  }


}
